//
// Main Content Elements
// --------------------------------------------------


// Page basics
.content-area {
  margin-bottom: $grid-gutter-width;
}

// Page headers
#masthead {
  position: relative;

  .navbar {
    position: absolute;
    z-index: 10;
    width: 100%;

    @media (min-width: $grid-float-breakpoint) {
      border-radius: 0;
    }
  }
}

// Post and Page basics
.entry-content {
  margin-bottom: $grid-gutter-width;
}
