// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}

// Necessary WP classes
.wp-caption { font-size: inherit; }

.wp-caption-text { font-size: inherit; }

.screen-reader-text { font-size: inherit; }

.alignright {
  float: right;
  padding-left: 10px;
}

.alignleft {
  float: left;
  padding-right: 10px;
}

.aligncenter { margin: 0px auto; }

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img:not(.avatar),
#secondary img {
  max-width: 100%;
  height: auto;
}

img.wp-post-image {
  margin-bottom: (($line-height-computed));
}

// Widgets
.widget {
	margin: 0 0 1.5em;
  word-wrap: break-word;

  .widget-title {
    margin-top: 0;
  }

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

// Comments
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}



// Infinate scroll
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}



/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: $body-bg;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $text-color;
		display: block;
		font-size: (($font-size-base * 0.875));
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
