//
// Front Page
// --------------------------------------------------


.home {

  section h2 {
    margin-top: 0;
  }

  @media (min-width: $grid-float-breakpoint) {
    #intro {

      h2 {
        font-size: ceil($font-size-h2 * 1.1);
      }
    }
  }

  #intro {
    .intro-text-block {
      margin-top: 100px;

      h2 p b {
        color: $brand-primary;
      }

      @media (max-width: $grid-float-breakpoint-max) {
        margin-top: 0;
      }
    }

    .intro-text {
      font-size: ceil($font-size-base * 1.1);
    }
  }

  #answers {
    background: no-repeat center center $brand-info;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    h2 {
      color: #fff;
    }

    .col-sm-4 {
      margin-bottom: $grid-gutter-width;

      @media (min-width: $grid-float-breakpoint) {
        margin-bottom: 0;
      }
    }
  }

  #contact {
    background-color: $brand-primary;
    color: #fff;

    h2 {
      color: #fff;
    }
  }
}
