//
// Front Page Jumbotron
// --------------------------------------------------


.frontpage-jumbotron {
  padding-top:    ($jumbotron-padding + ($navbar-height * 0.75));
  padding-bottom: $jumbotron-padding;
  margin-bottom: 0;
  color: $jumbotron-color;
  background-color: $jumbotron-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

  h1,
  .h1 {
    color: #fff;
    margin-top: 0;
    font-weight: 900;
  }

  p {
    margin-bottom: 0;
    font-size: ($jumbotron-font-size * 0.7);
    font-weight: 400;
    color: #fff;
  }

  .btn-lg {
    text-transform: none;
    margin-top: $jumbotron-padding;

    @media (max-width: $grid-float-breakpoint-max) {
      font-size: 16px;
      padding: 12px 18px;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($jumbotron-padding * 3.5);
    padding-bottom: ($jumbotron-padding * 3.5);

    .container &,
    .container-fluid & {
      padding-left:  ($jumbotron-padding * 2);
      padding-right: ($jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: $jumbotron-heading-font-size;
      margin-bottom: ($font-size-base * 2);
    }

    p {
      font-size: $jumbotron-font-size;
    }

    .btn-lg {
      font-size: ($jumbotron-font-size * 1.2);
    }
  }
}
