//
// Front Page
// --------------------------------------------------


#masthead {
  position: relative;

  .navbar {
    position: absolute;
    z-index: 10;
    width: 100%;

    @media (min-width: $grid-float-breakpoint) {
      border-radius: 0;
    }
  }
}

.home {

  section h2 {
    margin-top: 0;
  }

  @media (min-width: $grid-float-breakpoint) {
    #intro {

      h2 {
        font-size: ceil($font-size-h2 * 1.1);
      }
    }

    .intro-text {
      font-size: ceil($font-size-base * 1.1);
    }
  }

  #answers {
    background: no-repeat center center $brand-info;
    background-size: cover;
    color: #fff;

    h2 {
      color: #fff;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        margin-bottom: ($padding-base-vertical * 2);
        padding: $padding-base-vertical;
        background: #fff;
        color: $text-color;
        box-shadow: 0 8px 36px rgba(0, 0, 0, 0.5);

        &:last-of-type {
          margin-bottom: 0;
        }

        img {
          width: 200px;
          height: auto;
          margin-left: -($padding-base-vertical);
          margin-top: -($padding-base-vertical);
          margin-bottom: -($padding-base-vertical);
          margin-right: ($grid-gutter-width / 2);
        }
      }
    }
  }

  #contact {
    background-color: $brand-primary;
    color: #fff;

    h2 {
      color: #fff;
    }
  }
}
